@{
    Layout = null;
}

<div id="ContactTheArtistViewContainer">
    <div id="ContactInformationContainer">
        <blockquote>
            Если желаете заказать картину,@Html.Breakes(1)
            пишите вопросы и пожелания на мой адрес @Html.Breakes(1)
            ------ ------- ------- ------- -------- @Html.Breakes(1)
            или звоните по телефону --- --- --- --- @Html.Breakes(1)
            @Html.Breakes(1)
            Если вы находитесь далеко от Харькова @Html.Breakes(1)
            вы также можете заказать и получить её по почте @Html.Breakes(1)
            @Html.Breakes(1)
            @Html.Breakes(1)
            @Html.Breakes(1)
            <span class="Titres">
                Арчаков Николай Николаевич @Html.Breakes(1)
                Mail @Html.Breakes(1)
                Address @Html.Breakes(1)
            </span>
        </blockquote>
    </div>
</div>